:root {
	--page-color: #899d86;
	--bg-color: #fffaf2;
	--mg-color: #efebe4;
	--hv-color: #d7ddcd;
	--link-color: #e7e3dc;
	--green: #0a7829;
	--gray: #999999;
	--font-size-base: 16px;
}

body {
	font-family: "Josefin Sans", sans-serif;
	background-color: var(--page-color);

}

.blog-entry{
	display: inline-block;
	width: 100%;
	text-decoration: none !important;
	overflow: hidden;
	background-color:var(--link-color) !important;
	margin-bottom: 3px;
	padding-top: 4px !important;
	padding: 2px;
}

.reg-entry{
	font-size: 24px;
	display: inline-block;
	width: 100%;
	text-decoration: none !important;
	overflow: hidden;
	background-color:var(--link-color) !important;
	margin-bottom: 3px;
	padding-top: 6px !important;
	padding: 4px;
}

a,
a:link,
a:visited,
a:active {
	padding-top: 1px;
	color: var(--green) ;
	border: 1px solid transparent; 
	background-color: var(--mg-color) ;
	text-decoration: underline;
}

a:hover {
	color: black ;
	border: 1px solid black ;
	border-image: url("/assets/images/icons/dottedline.gif") 1 repeat;
	image-rendering: pixelated; /* Chrome, Edge */
  image-rendering: crisp-edges; /* Firefox */
	background-color:var(--link-color) ;
}

.linky,
.linky:link,
.linky:visited,
.linky:active {
	color: var(--mg-color) !important;
	background-color: black !important;
	border: 1px solid transparent !important; 
	text-decoration: underline;
	padding: 7px;
	padding-top: 7px;
	padding-bottom: 4px;

	border: 2px dashed black !important;
}

.linky:hover {
	color: black !important;
	background-color: var(--mg-color) !important;
}


.blackLink,
.blackLink:link,
.blackLink:visited,
.blackLink:active {
	color: black !important;
	background-color: transparent !important;
	text-decoration: underline;
}

.blackLink:hover {
	background-color:var(--link-color) !important;
}

.main {
	color: black;
	background-color: var(--mg-color);

	min-width: 300px;
	min-height: 80vh;

	border: 3px solid var(--hv-color);
	border-radius: 3px;


	width: 1200px;
	max-width: 1600px;
	margin: 0 auto;
	box-shadow: rgb(78, 78, 78) 0px 0px 20px;

	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 16px;

}

@media (max-width: 600px) {
	.outlinkContainer {
		flex-direction: column;
	}

}

@media (max-width:1300px) {

	.main {
		width: 90% !important;
		grid-template-columns: 1fr;
	}

	.logo {
		width: 90% !important;

	}

	.content {
		grid-template-columns: 1fr;

	}


	.sidebar-parent {
		border-left: 1px solid rgba(0, 0, 0, 0) !important;
		grid-column: 1 !important;
		width: 100% !important;
		grid-row: 2;
	

	}


}

.content {
	margin: 20px;
	font-size: 18px;
	position: relative;
	grid-column: 1;
	max-width: 100%;

}

.logo {

	color: black;

	min-width: 300px;
	padding-top: 20px;
	border-radius: 3px;


	margin: auto;
	width: 1200px;
	max-width: 1600px;

	margin: 0 auto;

	margin-bottom: 20px;
	overflow: hidden;

	display: grid;


}

.copyright {
	color: black;

	min-width: 300px;
	padding-top: 20px;
	border-radius: 3px;

	margin: auto;
	width: 1200px;
	max-width: 1600px;

	margin: 0 auto;


}


.logosub {
	font-size: 20px;
	color: black;
}


.socialLink {
	color: var(--green);
	background-color: var(--mg-color);
	padding: 2px;
}

.socialLink:hover {
	color: black;
	background-color: var(--green);


}

img.pixelated {
	margin-bottom: -12px;
	width: 34px;
	height: auto;
	display: block;

	margin-left: auto;
	
	margin-right: auto;
	image-rendering: pixelated;

	image-rendering: -moz-crisp-edges;

	image-rendering: crisp-edges;

}

img.crisp {

	image-rendering: pixelated;

	image-rendering: -moz-crisp-edges;
	
	image-rendering: crisp-edges;

}

.outlinkContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 1rem;
}

.outlink {

	text-align: center;

	padding: 8px;


	margin-right: 8px;


}

.badge {
	position: absolute;
	bottom: 0px;
	left: 28px;
	transform: scale(1.2);
	font-size: 12px;
	border-radius: 4px;
	background-color: transparent !important;
}


.pageTitle {
	color: black;
	background-color: var(--hv-color);
	font-size: 40px;
	padding: 10px;
	padding-bottom: 1px;
	margin-bottom: 25px;
}

.pageTitle2 {
	color: black;
	background-color: var(--hv-color);
	font-size: 30px;
	padding: 10px;
	padding-bottom: 6px;
	margin-bottom: 15px;
	width: 30%;
	transform: translate(-5px);
}

.pageContent {
	padding-left: 5px;
	max-width: 80%;
}


.list {
	line-height: 48px;

}

.criaring-next {
	background-color: var(--gray);
}

.code {
	background-color: var(--hv-color);
	padding: 8px;
	border-radius: 4px;
}


.socialLogoNoINT {

	padding-bottom: 8px;
	filter: brightness(0);
}

.socialLogo:hover {
	filter: brightness(1);
	filter: drop-shadow(1px 1px 0px black) drop-shadow(-1px 1px 0px black) drop-shadow(1px -1px 0px black) drop-shadow(-1px -1px 0px black);
}

.cross {
	color: var(--gray);
	text-decoration: line-through;
}




i {
	color: var(--gray);
	font-size: 15px;
}

h3 {
	display: inline;
}


li::marker {
	color: black;
}

.related-posts {
	line-height: 40px;
	padding-top: 12px;
	padding-left: 10px;
	padding-bottom: 12px;
	white-space: nowrap;

	overflow: hidden;

	text-overflow: ellipsis;
}

.small {
	font-size: 18px !important;
	font-weight: normal !important;
}

.logomain {
	border: none !important; 
	font-size: 60px;
	color: black !important;
	background-color: transparent !important;
	text-decoration: none !important;
}

.logomain:hover {
	text-decoration: underline !important;
}


.socialLogo {
	
	width: 35px;
	padding-left: 10px;
	filter: brightness(0);

}

.link-noborder {
	border: none !important; 
	background-color: transparent !important;
	text-decoration: none !important;
}

