/* PHOTOS STUFF */

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}



.photo {
  display: inline-block;
  text-align: right;
  vertical-align: top;


}

.imgText {
    pointer-events: none;
    transform: translate(12px, -80%);
    opacity: 0;
    vertical-align: text-bottom;
    background-color: var(--black);

    font-family: "Josefin Sans", sans-serif;
    color: var(--white);
    float: left;
    line-height: 1.1em;
    font-size: 100%;
    outline-style: solid;
    outline-color: var(--black);
    outline-width: 8px;
    text-align: left;

    transition: all 0.35s ease;
}

.imgREAL {
  width: 530px;
  height: auto;
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
}

.img {
  outline-style: solid;
  outline-color: var(--black);
  outline-width: 2px;
  border-radius: 1px;
  position: relative;
  overflow: hidden;
}

.photo > .imgTwoline{
    
      margin-bottom: -16px;
}
.photo:hover > .imgOneline {
  opacity: 1;
  transform: translate(12px, -173%);
}
.photo:hover > .imgTwoline {
  opacity: 1;

  transform: translate(12px, -139%);
}

.gallery-grid {
    max-width: 120rem;
    margin: auto;
    columns: 2;
    gap: 1.3em;
    padding: 1em;
}

.gallery-grid > * {
    break-inside: avoid;
    width: 100%;
    height: auto;
    img {
        width: 100%;
    }
}

/* Style the Image Used to Trigger the Modal */
#blogImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} 