@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* Links To Other Places */
.custom-outlinks {
  font-family: "Paytone One", sans-serif;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 63px;

  color: var(--green);

  color: var(--green);
}
/* Outlinks Stuff */
.custom-chosen {
  position: relative;
  top: -4px;
  left: -2px;
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
  color: var(--green);
text-decoration: underline;
}

.custom-notChosen {
  text-decoration: underline;
  position: relative;
  top: -0px;
  left: 0px;
  color: var(--red);
  background-color: var(--white);
  transition: all 0.22s ease;
}
.custom-notChosen:hover {
  color: var(--green);
  position: relative;
  top: -4px;
  left: -4px;
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;

  transition: all 0.22s ease;
}


.custom-squiggle{

  color: var(--black);
  margin-top: -78px;
  margin-bottom: -28px;
  letter-spacing: -9.3px;
  font-size: 35px;
}

.custom-acd {
  font-size: 50px;
      font-family: "Roboto Slab";



  letter-spacing: -7px;
}

.custom-head {
  margin-top: -64px;
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
  font-family: "Paytone One", sans-serif;
  width: 100%;
  line-height: 47px;
  margin-bottom: 90px;
  text-align: center;

 
  color: var(--green);
}

.collection_row{
transform: translate(0px, -60px);
}

:root {
    --green: #28c074;
  --red: #ff4062;
  --black: #050914;
  --white: #fff5eb;
  --gray: #7a7a7a;
  }


body {
<link
    href="https://fonts.googleapis.com/css2?family=Honk&family=Paytone+One&family=Rubik+Glitch+Pop&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet"
  />
transition: background 500ms;
    font-family: "Space Mono";
    background-color: var(--white);
}




.game_author{
transform: translate(12px, 10px);
	color: var(--black) !important;
}


.user_profile{
	margin: 50px 10px;
	color: var(--black) !important;
}

  .game_text {
margin-bottom: 10px;
transform: translate(0px, -10px);
font-family: "Josefin Sans", sans-serif;
font-weight: bold;
    color: var(--black) !important;
    order: 1;
    margin-top: 16px;
  }
.header{
display: none;
}



  .game_title {
transform: translate(0px, -40px);
    transition: all 0.2s ease;
    order: 2;
    color: var(--black) !important;
    border-color: var(--black) !important;
    box-shadow: 8px 8px 0px var(--black) !important;
    border: 4px solid var(--white);
    border-radius: 4px;
padding-top: 9px;
    padding-bottom: 5px;
    margin-top: 25px;
font-weight: bold;
     font-family: "Josefin Sans", sans-serif;
   
    font-size: 19.5px;
    text-transform: uppercase;
  }
  .game_title:hover {
    transition: all 0.2s ease;

    
    background-color: var(--red);
    color: var(--black) !important;
    

    border: 4px solid;
  }
.game_author{
transform: translate(20px, 60px);
}
.game_title .game_link {
	font-size: var(--title-font-size);
	color: var(--title-color) !important;
    text-transform: uppercase;
}


.game_cell{
    padding:10px;
    scale: 1;
    transition: all .2s ease;
}
.game_cell:hover{
	scale: 1.06;
    transition: all .2s ease;
}
.game_cell_data {
	text-align: center;
	flex-direction: column;
}
.game_list_widget{
    transform: scaleY(0.9) scaleX(0.9);
}
.game_author {
    color: var(--green);
}


.user_links {
	display: none;
}


.game_thumb{

    box-shadow: 8px 8px 0px var(--black) !important;
    opacity:1;
    border: 2px solid var(--black);
    margin:-2px;
    margin-top:-30px;
    border-width:3px;
    border-color:var(--black);
    border-radius:50px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    transition: all .3s ease;



}
.game_thumb:hover{
    transform: rotate(2deg) scaleY(1.06) scaleX(1.06);
    transition: all .1s ease;
}

.thumb_link.game_link {
	display: inline-block;
	transition: all .3s ease;
}
.game_grid_widget.user_game_grid {
	min-height: 290px;
}
.carousel_wrapper {
	padding-top: 25px;
}
.game_genre {
	display: none;
	order: 3;
}
.game_platform {
	display: none;
	order: 4;
}

.collection_row {
	color: var(--black) !important;
    transition: all 0.1s ease;
    text-align: center !important;
    scale: 1.25;
    margin: 0px;
    margin-top: 120px;
}
