:root {
  --green: #28c074;
  --red: #ff4062;
  --black: #050914;
  --white: #fff5eb;
  --gray: #7a7a7a;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  margin: -20px 10px;
  background-color: var(--white);
}

a {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;

  color: var(--red);
  background-color: var(--white);
  transition: all 0.22s ease;
}
a:hover {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: underline;

  color: var(--green);
  background-color: var(--white);
  transition: all 0.22s ease;
}

.squiggle{
  color: var(--black);
  margin-top: -70px;
  margin-bottom: -20px;
  letter-spacing: -9.3px;
  font-size: 35px;
}

.copyright {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  position: fixed;
  bottom: 20;
  width: 100%;
}
.copyrightNotSticky {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}
/* The green Squares */
.freewareAbout {
  font-weight: bold;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  width: 200px;
  height: 120px;
  border-radius: 5px;
  box-shadow: 6px 6px 0px var(--black), 5px 5px 0px var(--black),
    4px 4px 0px var(--black), 3px 3px 0px var(--black), 2px 2px 0px var(--black),
    1px 1px 0px var(--black);
  text-align: center;
  position: relative;
  top: 30px;
  left: -130px;
  color: var(--black);
  background-color: var(--green);
}
.contactAbout {
  font-weight: bold;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  width: 200px;
  height: 120px;
  border-radius: 5px;
  box-shadow: 6px 6px 0px var(--black), 5px 5px 0px var(--black),
    4px 4px 0px var(--black), 3px 3px 0px var(--black), 2px 2px 0px var(--black),
    1px 1px 0px var(--black);
  text-align: center;
  position: relative;
  top: -80px;
  left: 140px;
  color: var(--black);
  background-color: var(--green);
}
.regularAbout {
  font-weight: bold;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  width: 200px;
  height: 120px;
  border-radius: 5px;
  box-shadow: 6px 6px 0px var(--black), 5px 5px 0px var(--black),
    4px 4px 0px var(--black), 3px 3px 0px var(--black), 2px 2px 0px var(--black),
    1px 1px 0px var(--black);
  text-align: center;
  position: relative;
  top: 0px;
  left: 0px;
  color: var(--black);
  background-color: var(--green);
}

/* Squiggle Lines */
.acd {
  font-size: 50px;
  margin-top: -24px;

  letter-spacing: -7px;
}
.acd2 {
  margin-top: -44px;
  font-size: 50px;

  letter-spacing: -7px;
}

/* Links To Other Places */
.outlinks {
  font-family: "Paytone One", sans-serif;
  
  text-align: center;
  padding-bottom: 80px;

  color: var(--green);
}
/* Outlinks Stuff */
.chosen {
  font-family: "Paytone One", sans-serif;
  position: relative;
  top: -4px;
  left: -4px;
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
  color: var(--green);
}
.notChosen {
  font-family: "Paytone One", sans-serif;
  text-decoration: underline;
  position: relative;
  top: -0px;
  left: 0px;
  color: var(--red);
  background-color: var(--white);
  transition: all 0.22s ease;
}
.notChosen:hover {
  color: var(--green);
  position: relative;
  top: -4px;
  left: -4px;
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;

  transition: all 0.22s ease;
}

.changelater {
  width: 30vw;

  min-width: 464px;
  color: var(--black);
}

.blogTitle {
  width: 30vw;
  font-family: "Paytone One", sans-serif;
  min-width: 464px;
  color: var(--black);
}
.blogText {
  width: 30vw;
  font-family: "Josefin Sans", sans-serif;
  min-width: 464px;
  color: var(--black);
}
.blog {
  z-index: 5;

  margin-top: -72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogLink {
  z-index: 5;

  font-family: "Paytone One", sans-serif;
  text-decoration: underline;
  position: relative;
  top: -40px;
  left: 0px;
  color: var(--red);
  background-color: var(--white);
  transition: all 0.22s ease;
}
.blogLink:hover {
  color: var(--green);

  top: -44px;
  left: -4px;
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;

  transition: all 0.22s ease;
}
.date {
  color: var(--gray);
  font-size: 18px;
}

.link {
  font-family: "Paytone One", sans-serif;
  text-decoration: underline;
  position: relative;
  top: -0px;
  left: 0px;
  color: var(--red);
  background-color: var(--white);
  transition: all 0.22s ease;
}

.link:hover {
  color: var(--green);
  position: relative;
  top: -4px;
  left: -4px;
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
  font-family: "Paytone One", sans-serif;
  transition: all 0.22s ease;
}
/* Header Text */
.head {
  margin-top: -50px;
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
  font-family: "Paytone One", sans-serif;
  width: 100%;
  line-height: 35px;
  margin-bottom: 90px;
  text-align: center;

  color: var(--green);
}

.homePageImage {
  z-index: 0;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cutoutName {
  text-align: left;
  text-decoration: ;
  font-family: "Paytone One", sans-serif;
  position: absolute;
  top: -7px;
  left: -7px;
  color: var(--white);
  padding: 10px 20px;
  font-size: 23px;
  z-index: 3;
}
.cutoutDesc {
  text-align: left;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 29px;
  left: -7px;
  color: var(--gray);
  padding: 10px 20px;
  font-size: 17px;
  z-index: 3;
}

.cutoutNameBlog {
  text-align: left;
  text-decoration: ;
  font-family: "Paytone One", sans-serif;
  position: absolute;
  top: 30px;
  left: 0px;
  color: var(--white);
  padding: 10px 20px;
  font-size: 23px;
  z-index: 3;
}
.cutoutDescBlog {
  text-align: left;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 65px;
  left: 0px;
  color: var(--gray);
  padding: 10px 20px;
  font-size: 17px;
  z-index: 3;
}



.cutoutType {
  text-align: left;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 99px;
  left: -7px;
  color: var(--gray);
  padding: 10px 20px;
  font-size: 17px;
  z-index: 3;
}
.cutoutButton {
  text-decoration: none;
  text-shadow: var(--green) 2px 2px 0px, var(--green) -2px -2px 0px,
    var(--green) 2px -2px 0px, var(--green) -2px 2px 0px;
  font-family: "Paytone One", sans-serif;
  position: absolute;
  top: 50%;
  left: 84%;
  transform: translate(-50%, -50%);
  background-color: var(--green);
  color: var(--black);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  border: solid var(--green);
  z-index: 3;
  transition: all 0.22s ease;
}
.cutoutButton:hover {
  text-decoration: underline;
  text-shadow: var(--red) 2px 2px 0px, var(--red) -2px -2px 0px,
    var(--red) 2px -2px 0px, var(--red) -2px 2px 0px;
  background-color: var(--black);
  color: var(--black);
  border: solid var(--red);
  transition: all 0.22s ease;
}

.cutoutButtonRndUp {
  text-decoration: none;
  text-shadow: var(--green) 2px 2px 0px, var(--green) -2px -2px 0px,
    var(--green) 2px -2px 0px, var(--green) -2px 2px 0px;
  font-family: "Paytone One", sans-serif;
  position: absolute;
  top: 50%;
  left: 84%;
  transform: translate(-50%, -50%);
  background-color: var(--green);
  color: var(--black);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  border: solid var(--green);
  z-index: 3;
  transition: all 0.22s ease;
}
.cutoutButtonRndUp:hover {
  text-decoration: underline;
  text-shadow: var(--red) 2px 2px 0px, var(--red) -2px -2px 0px,
    var(--red) 2px -2px 0px, var(--red) -2px 2px 0px;
  background-color: var(--black);
  color: var(--black);
  border: solid var(--red);
  transition: all 0.22s ease;
}


.cutoutRndUp {
  display: inline-block;
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;

  font-family: "Roboto Slab", sans-serif;
  width: 360px;
  border-radius: 8px 20px;
  margin: 15px;
  box-shadow: 6px 6px 0px var(--black), 5px 5px 0px var(--black),
    4px 4px 0px var(--black), 3px 3px 0px var(--black), 2px 2px 0px var(--black),
    1px 1px 0px var(--black);
  text-align: center;
  position: relative;
  height: 135px;
  top: 0px;
  overflow: hidden;
  color: var(--black);
  background-color: var(--black);
  transition: all 0.22s ease;
}
.cutoutRndUp:hover {
  top: -8px;
  transition: all 0.22s ease;
}
.cutoutRndUp:before {
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgb(5, 9, 20, 1) 60%,
    rgb(5, 9, 20, 0) 150%
  );
}

.cutoutNameRndUp {
  text-align: left;
  text-decoration: ;
  font-family: "Paytone One", sans-serif;
  position: absolute;
  top: 20px;
  left: 0px;
  color: var(--white);
  padding: 10px 20px;
  font-size: 23px;
  z-index: 3;
}
.cutoutDescRndUp {
  text-align: left;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 55px;
  left: 0px;
  color: var(--gray);
  padding: 10px 20px;
  font-size: 17px;
  z-index: 3;
}


.cutout {
  display: inline-block;
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;

  font-family: "Roboto Slab", sans-serif;
  width: 550px;
  border-radius: 8px 20px;
  margin: 15px;
  box-shadow: 6px 6px 0px var(--black), 5px 5px 0px var(--black),
    4px 4px 0px var(--black), 3px 3px 0px var(--black), 2px 2px 0px var(--black),
    1px 1px 0px var(--black);
  text-align: center;
  position: relative;
  height: 135px;
  top: 0px;
  overflow: hidden;
  color: var(--black);
  background-color: var(--black);
  transition: all 0.22s ease;
}
.cutout:hover {
  top: -8px;
  transition: all 0.22s ease;
}
.cutout:before {
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgb(5, 9, 20, 1) 60%,
    rgb(5, 9, 20, 0) 150%
  );
}

.slash {
  color: var(--black);
}
.photoMini {

  display: inline-block;
  text-align: right;
  vertical-align: top;
   padding-right: 17px;

  padding-bottom: 20px;
  height: 265px;
  width: 265px;

}
.photo {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  margin-right: 15px;
  margin-left: 15px;
  width: 530px;
}


.imgText {
  transform: translate(15px, -40px);
  opacity: 0;
  background-color: var(--black);
  padding: -10px 0 0px 0;
  font-family: "Josefin Sans", sans-serif;
  color: var(--white);
  float: left;
  line-height: 1.1em;
  font-size: 110%;
  outline-style: solid;
  outline-color: var(--black);
  outline-width: 8px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.imgREAL {
  width: 530px;
  height: auto;
  display: block;
  position: relative;
  float: left;
}
.imgMini {

  width: 265px;
  height: auto;
  display: block;
  position: relative;
  float: left;
}
.img {
  outline-style: solid;
  outline-color: var(--black);
  outline-width: 4px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.photo:hover > .imgText {
  opacity: 1;
  transform: translate(15px, -55px);
}
